<%- include("header.ejs") -%>

    
    <div class="title-comoUsar">
        <h1>Como usar?</h1>
    </div>
    <div class="container-comoUsar">
        
        <div class="dicas-comoUsar">
            <img src="/img/dica1.png">
            <p>Clique em inicio para ver a lista de tarefas padrão</p>
        </div>
        <div class="dicas-comoUsar">
            <img src="/img/dica2.png">
            <p>Após isso é possível escolher entre adicionar itens ou apagar a itens recém adicionados</p>
        </div>
        <div class="dicas-comoUsar">
            <img src="/img/dica3.png">
            <p>Clicando em listas é possível ver todas listas criadas e criar uma nova lista</p>
        </div>
    </div>








    <%- include("footer.ejs") -%>